%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user, layout: :horizontal, html: {id: "payment-form"}, class: 'form-horizontal') do |f| 
        %header
          %h1 Register
        %fieldset
          = hidden_field_tag :token, @invitation.token if @invitation
          .col-sm-8
            .form-group
              = f.text_field :username, control_class: 'form-control', label_class: 'control-label col-sm-2'
            .form-group
              = f.email_field :email, control_class: 'form-control', label_class: 'control-label col-sm-2'
            .form-group
              = f.password_field :password, control_class: 'form-control', label_class: 'control-label col-sm-2'
        %fieldset 
          .form-row 
            %label(for="card-element")
            #card-element
            #card-errors
        = f.submit "Register", class: "btn btn-default" 
        
%script(src="https://js.stripe.com/v3/")
%script
  var style = {base: {fontSize: '16px',lineHeight: '24px'}};
  var stripe = Stripe("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
  var elements = stripe.elements(); 
  var card = elements.create('card', {style: style});
  card.mount('#card-element');

= javascript_include_tag 'payments'
